* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.boxes {
  gap: 30px;
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.box {
  padding: 40px;
  color: black;
}
 .box h1 {
  display: none;
}
.box h1:hover{
    color: aliceblue;
    display: block;
}
.box:nth-child(1) {
  background-color: brown;
}
.box:nth-child(1):hover {
  transform: scale(1.2);
}
.box:nth-child(2) {
  background-color: green;
}
.box:nth-child(3) {
  background-color: rgb(110, 15, 98);
}
.box:nth-child(4) {
  background-color: yellow;
}
.box:nth-child(1):hover {
  transform: scale(1.3);
}
.box:nth-child(2):hover {
  transform: translate(50% ,-100%);
}
.box:nth-child(3):hover {
  transform: rotateY(260deg);
}
.box:nth-child(4):hover {
  transform: skew(20deg);
}
